@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fff;
  scroll-behavior: smooth;
}

.nav-fade-in {
  animation-name: nav-fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.nav-fade-out {
  animation-name: nav-fade-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes nav-fade {
  0%   {background-color: #fff;}
  100% {background-color: #f1f5f9;}
}

@keyframes nav-fade-reverse {
  0%   {background-color: #f1f5f9;}
  100% {background-color: #fff;}
}

.gradient-background {
  background: linear-gradient(-125deg, #ee7752, #e73c7e, #bc4bdf, #cd40da);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	33% {
		background-position: 100% 50%;
	}
	66% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}